# Go
/services/users/internal/
*.exe
*.exe~
*.dll
*.so
*.dylib
/vendor/
*.test
*.out
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
